@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?46womn');
  src:  url('fonts/icomoon.eot?46womn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?46womn') format('truetype'),
    url('fonts/icomoon.woff?46womn') format('woff'),
    url('fonts/icomoon.svg?46womn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Play:before {
  content: "\e900";
}
.icon-Checkbox-Filled:before {
  content: "\e901";
}
.icon-Cursor:before {
  content: "\e902";
}
.icon-Copy:before {
  content: "\e903";
}
.icon-Download:before {
  content: "\e904";
}
.icon-Share:before {
  content: "\e905";
}
.icon-Close:before {
  content: "\e906";
}
.icon-More:before {
  content: "\e907";
}
.icon-Delete:before {
  content: "\e908";
}
.icon-Error:before {
  content: "\e909";
}
.icon-Info:before {
  content: "\e90a";
}
.icon-Radiobutton-Blank-1:before {
  content: "\e90b";
}
.icon-Radiobutton-Blank:before {
  content: "\e90c";
}
.icon-Checkbox-Disabled:before {
  content: "\e90d";
}
.icon-Checkbox-Blank:before {
  content: "\e90e";
}
.icon-Donate:before {
  content: "\e90f";
}
.icon-Menu:before {
  content: "\e910";
}
.icon-Home:before {
  content: "\e911";
}
.icon-Minus:before {
  content: "\e912";
}
.icon-Plus:before {
  content: "\e913";
}
.icon-Card:before {
  content: "\e914";
}
.icon-Check:before {
  content: "\e915";
}
.icon-Star:before {
  content: "\e916";
}
.icon-Whatsapp:before {
  content: "\e917";
}
.icon-Youtube:before {
  content: "\e918";
}
.icon-Instagram:before {
  content: "\e919";
}
.icon-Twitter:before {
  content: "\e91a";
}
.icon-Facebook:before {
  content: "\e91b";
}
.icon-Phone:before {
  content: "\e91c";
}
.icon-Mail:before {
  content: "\e91d";
}
.icon-Awards:before {
  content: "\e91e";
}
.icon-Basket:before {
  content: "\e91f";
}
.icon-Time:before {
  content: "\e920";
}
.icon-User:before {
  content: "\e921";
}
.icon-Search:before {
  content: "\e922";
}
.icon-Map:before {
  content: "\e923";
}
.icon-Up:before {
  content: "\e924";
}
.icon-Down:before {
  content: "\e925";
}
.icon-Left-Long:before {
  content: "\e926";
}
.icon-Right-Long:before {
  content: "\e927";
}
.icon-Map1:before {
  content: "\e928";
}
