//Font Size// 
$navbar-font-size:14px;
$navbar-line-hight:16px;
$header-section-nav-font-size:12px;
$all-slider-h1-font-size:40px;
$all-slider-line-hight:48px;
$all-slider-p-line-hight:22px;





// Color// 
$color-dark:#393F49;
$color-dark-lighter:#737984;
$color-primary:#138363;
$color-secondary:#DAB9A8;
$color-green:#D9E6E2;
$color-green-lighter:#F3F9F7;
$color-white:#FFFFFF;
$color-error:#DF1642;
$color-success:#18A957;
$color-info:#1E90FF;
$color-label:#393F49;

//Margin// 
$margin-top-header:24px;
$margin-top-header-section:24px;

//Padding//